<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Chat App</title>

    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="LoginCtrl">
<div class="container-main parent" ng-if="participantId">
    <div class="head" ng-controller="ParticipantsCtrl">
            <p ng-repeat=" user in active">
                <i class="fa fa-circle"></i>
                {{ user.first_name }} {{ user.last_name }}
            </p>
    </div>
    <div class="wrapper container" ng-controller="IndexCtrl" scroll-glue >
            <table>
                <tbody>
                <tr ng-repeat="message in messages track by $index">
                    <td class="picture">
                        <img ng-src="http://graph.facebook.com/{{ message.participant.fb_id }}/picture?type=small">
                    </td>
                    <td ng-model="message.body">
                        <p class="user-name">{{ message.participant.first_name + " " + message.participant.last_name}}</p>
                        <p>{{ message.body }} <div>{{message.date}}</div></p>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div ng-controller="FormCtrl ">
        <form class="form-horizontal" ng-controller="FormCtrl" ng-submit="submit()">
            <div class="clearfix parent">
                <textarea class="col-md-11" type="text" class="form-control"
                          id="message" ng-enter="submit()" ng-model="form.body">
                </textarea>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<div class='right fb-button' ng-if="!participantId">
    <div class="login-page">
        <img src="http://www.hgsitebuilder.com/files/writeable/uploads/hostgator143615/image/persil-logo_svg.png" alt="Persil">
        <h1>Chat</h1>
        <h2>Login Page</h2>
        <a href="#" class="button facebook" ng-click="FBLogin()"><i class="fa fa-facebook-square fa-2x"></i>Sign in with
            Facebook</a>
    </div>
</div>
    <a href="#" class="button logout" ng-hide="!participantId" ng-click="FBLogout()">
    <i class="fa fa-sign-out fa-2x"></i>Sign out</a>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="js/moments.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
<script src="http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
<script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
