<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Chat App</title>

    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container-main"  ng-controller="IndexCtrl">
    <div ng-controller="LoginCtrl">
        <div id="fb-root"></div>
        <div class="fb-login-button" data-max-rows="4" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
        <div class="container-main ">
    </div>
    <div>
        <div ng-controller="ParticipantsCtrl">
            <span ng-repeat=" participant in participants">{{ participant.first_name }} {{ participant.last_name }}</span>
        </div>
        <div>
            <table>
                <tbody>
                <tr ng-repeat="message in messages">
                    <td ng-model="message.body">{{ message.body }}</td>
                </tr>
                </tbody>
            </table>
            <!--<ul>
                <li ng-repeat="message in messages" ng-model="message.body">{{ message.body }}</li>
            </ul>-->
        </div>
        <div ng-controller="FormCtrl">
            <form class="form-horizontal" ng-controller="FormCtrl" ng-submit="submit()">
                <input type="text" class="form-control" id="message" ng-model="form.body">
                <button type="submit" class="btn btn-primary">&#8629</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="js/moments.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
<script src="js/fb-login.js"></script>
<script src="js/main.js"></script>
</body>
</html>
